html {
    height: 100%;
    background: #9fbec4;
}

body {
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', Tahoma, Geneva, sans-serif;
    background: #9fbec4;
    background: -moz-linear-gradient(top,  #fafbfb 0%, #9fbec4 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfb), color-stop(100%,#9fbec4)); 
    background: -webkit-linear-gradient(top,  #fafbfb 0%,#9fbec4 100%); 
    background: -o-linear-gradient(top,  #fafbfb 0%,#9fbec4 100%); 
    background: -ms-linear-gradient(top,  #fafbfb 0%,#9fbec4 100%); 
    background: linear-gradient(to bottom,  #fafbfb 0%,#9fbec4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbfb', endColorstr='#9fbec4',GradientType=0 );
}

a {
    text-decoration: none;
}

p {
    font-size: 90%;
}

#container {
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.90);
}

.timestamp {
    margin:  0px;
    font-size: 70%;
    font-weight: bold;
}

h1 {
    margin: 20px 0px 0px 0px;
    font-family: Cambria, Georgia, serif;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #202829;
}

#main:before, #main:after {
    content: "";
    display: table;
}

#main:after {
    clear: both;
}

#main {
    min-height: 800px;
    clear: both;
    border: 1px solid grey;
}

button {
    background: #347fb7;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 1px 1px 3px #666666;
    color: #ffffff;
    padding: 3px 5px 3px 5px;
    border: solid #5c9ac9 1px;
    text-decoration: none;
}

button:hover {
    background: #abd4f1;
}

img {
    background: url("../img/loading.gif") no-repeat;
    background-position: center center;
}