aside {
    float: left;
    width: 26%;
    min-height: 1200px;
    margin:  15px 0px 20px -5px;
    padding: 0px 0px 0px 20px;
    border-left:  1px solid grey;
    overflow: hidden; 
}

aside a {
    margin-bottom: 10px;
    font-size: 85%;
    color:  #000000;
}

aside a:hover {
    text-decoration: underline;
}

h2 {
    margin: 10px 10px 10px -10px;
    font-stretch: condensed;
    font-weight: 400;
    border-bottom: 1px solid grey;
}

#side-block {
    padding: 0px 0px 20px 5px;
}

@media screen and (max-width: 768px) {  /*iPad portrait view*/
    aside {
        display: none;
    }
}