#login_window, #registration_window, #info_window, #post_news_window, #profile_window {
    display: none;
}

.ui-dialog {
    position: fixed;
}

.ui-dialog-content p {
    margin-bottom: 2px;
}

.ui-dialog-content a {
    margin-top: 10px;
    color: #e9f4fb;
    font-size: 90%;
}

.ui-dialog-content a:hover {
    color: #ffffff;
    background-color: #4983af;
}

.ui-dialog-content button {
    margin: 10px 10px 0px 0px;
}

#info_window_ok, #profile_window_close, #post_news_link, #logout_button {
    min-width: 80px;
    margin:  30px 5px 10px 0px;
}

.ui-dialog {
    padding: 0px 20px 20px 20px;
    color: #abd4f1;
    background-color: #48799e;
    border:  1px solid grey;
}

.ui-dialog-titlebar {
   margin: 0px -20px;
   padding: 5px 10px;
   color: #48799e;
   background-color: #abd4f1;
   font-weight: bold;
   font-stretch: condensed;
}

.ui-dialog-titlebar-close {
    float: right;
}

.ui-dialog-content input {
    margin-bottom: 5px;
}

.ui-dialog-titlebar-close:hover {
  background: #f53d3d;
}

.ui-dialog-content button {
    margin-top: 15px;
}

.ui-dialog-content p span {
    color:  #ffffff;
}

#post_news_window span {
    color:  #abd4f1;
    font-size: 70%;
    font-style: italic;
}

textarea {
    max-width: 540px;
    resize: vertical;
}